<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CommentsMapper">
	
	<!-- <select id="replyui" resultType="Comments">
    SELECT * FROM COMMENTS WHERE  PostID = #{PostID}
    </select>  -->
    
    <select id="replylist" parameterType="hashmap" resultType="Comments">
			select level, COMMENTS.* 
			from COMMENTS
		    where PostID = #{PostID}
			start with PARENTCOMMENTID is null
			connect by prior COMMENTID = PARENTCOMMENTID
			order siblings by COMMENTID asc
			
	</select>
	
    <select id="replylisttt" parameterType="hashmap" resultType="Comments">
			<!-- select level, COMMENTS.* 
			from COMMENTS
		    where PostID = #{PostID}
			start with PARENTCOMMENTID is null
			connect by prior COMMENTID = PARENTCOMMENTID
			order siblings by COMMENTID desc -->
			
			
			SELECT level, COMMENTS.*
			FROM COMMENTS
			WHERE PostID = #{PostID}
			START WITH PARENTCOMMENTID IS NULL
			CONNECT BY PRIOR COMMENTID = PARENTCOMMENTID
			ORDER SIBLINGS BY CASE WHEN PARENTCOMMENTID IS NULL THEN COMMENTID END DESC
			
	</select>
	

	<select id="replyCount" resultType="int" parameterType="Comments">
		SELECT COUNT(*) FROM COMMENTS WHERE PostID = #{PostID}
	</select>
	
    
 <insert id="replyinsert" parameterType="Comments">
	INSERT INTO COMMENTS ( 
          		CommentID , 
          		PostID, 
          		AuthorID, 
          		ParentAuthorID,
          		Content, 
          		CreationTime, 
          		CommentType,
          		ParentCommentID, 
          		repIndent ) 
    	values ( COMMENTS_COMMENTID_SEQ.nextval , #{PostID},  #{AuthorID}, null, #{Content}, SYSDATE ,
    	'undeleted', null,  1 )
	</insert> 
    
	<!-- <update id="makeReply" parameterType="Comments">
		  UPDATE COMMENTS SET repStep = repStep + 1 WHERE  ParentCommentID = #{ParentCommentID} AND  repStep &gt; #{repStep}
	</update>  -->
	
	<insert id="reply">
	 INSERT INTO COMMENTS ( 
          		CommentID , 
          		PostID, 
          		AuthorID, 
          		ParentAuthorID,
          		Content, 
          		CreationTime, 
          		CommentType,
          		ParentCommentID, 
          		repIndent) 
    	values ( COMMENTS_COMMENTID_SEQ.nextval , #{PostID},  #{AuthorID},#{ParentAuthorID},  #{Content}, SYSDATE ,
    	'undeleted', #{ParentCommentID},  #{repIndent})
    	
    </insert>
    
    
	<update id="replyupdate" parameterType="Comments">
		UPDATE COMMENTS SET Content = #{Content}
		WHERE CommentID = #{CommentID}
	</update>
	
 	<update id="replydelete_column" parameterType="Comments">
		  UPDATE COMMENTS SET CommentType = 'deleted' WHERE CommentID = #{CommentID}
	</update>
	
	
<!-- 	<delete id="replydelete" parameterType="Comments">
		DELETE FROM COMMENTS WHERE COMMENTID = #{COMMENTID} AND AUTHORID = #{AUTHORID} AND POSTID = #{POSTID}
	</delete>  -->
	
	<select id="selectList" parameterType="int" resultType="Comments">
		select * from comments where PostID = #{PostID}
	</select>
    
</mapper>