<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReviewsMapper">      

<select id="selectReview" parameterType="string" resultType="Reviews">
	SELECT * FROM REVIEWS WHERE ProductID = #{ProductID} and ReviewType = 'undeleted' order by CreationTime desc
</select>

<insert id="addReview" parameterType="Reviews">
  INSERT INTO REVIEWS VALUES(
    REVIEWS_REVIEWID_SEQ.nextval,
    #{OrderID},
    #{ProductID},
    #{UserAlias},
    sysdate,
    #{Rating},
    #{ReviewContent},
    
    <choose>
      <when test="rImg != null and rImg != ''">
        #{rImg}
      </when>
      <otherwise>
        null
      </otherwise>
    </choose>,
    
    <choose>
      <when test="rThumbImg != null and rThumbImg != ''">
        #{rThumbImg}
      </when>
      <otherwise>
        null
      </otherwise>
    </choose>
    , 'undeleted', null, null
  )
</insert>

<update id="delReview" parameterType="int">
	UPDATE REVIEWS SET ReviewType = 'deleted' WHERE ReviewID = #{ReviewID}
</update>

<update id="reviewUpdate" parameterType="Reviews">
	UPDATE REVIEWS SET ReviewContent = #{ReviewContent} WHERE ReviewID = #{ReviewID}
</update>

<select id="reviewUserImg" resultType="Users">
	select * from users where UserAlias = #{UserAlias}
</select>

<update id="addReviewComment" parameterType="Reviews">
	UPDATE REVIEWS SET rComment = #{rComment} where ReviewID = #{ReviewID}
</update>

</mapper>                